@font-face {
    font-family: Roboto;
    src: url('../font/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
    src: url('../font/Manrope/Manrope-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}